*
{
    padding: 0px;
    margin: 0px;
}

a
{
    text-decoration: none;
}

body
{
    background: #373737;
    font-family: 'Open-Sans', sans-serif;
}

.cdh
{
    margin: 20px auto;
    background: #2A2A2A;
    width: 70%;
    height: 100%;
    padding: 25px;
    color: #fff;
}

.p1
{
    margin: 15px 0px 35px 25px;
    width: 150px;
    float: left;
}

.p2
{
    margin: 15px 0px 35px 0px;
    width: 250px;
    float: left;
}

.cdh-a
{
    color: #fff;
    background: #5CB85C;
    padding: 5px;
    border-radius: 2px;
}

.cdh-b
{
    color: #fff;
    background: #b85c5c;
    padding: 5px;
    border-radius: 2px;
}

.cdh-a:hover
{
    background: #489048;
}

.cdh-b:hover
{
    background: #6c3737;
}

.cdh h1
{
    font-weight: normal;
    text-transform: uppercase;
    float: right;
    font-size: 25px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    background-color: #373737;
}

td {
    text-align: left;
    padding: 10px;
    border-top: 0.5px solid #414141;
    margin: 5px;
}

th {
    text-align: left;
    padding: 16px;
    border-bottom: 10px solid #2A2A2A;
}

.finish
{
    background-color: #009600;
    border-radius: 100px 0px 0px 100px;
}

.accepted
{
    background-color: #cc8d00;
    border-radius: 100px 0px 0px 100px;
    
}

.annuled
{
    background-color: #960000;
    border-radius: 100px 0px 0px 100px;
    
}

.new
{
     background-color: #006296;
    border-radius: 100px 0px 0px 100px;
}